<extend name="Home@Base/common" />
<block name="body">
  <div class="span9 page_message">
    <section id="contents"><include file="Home@Addons/_nav" />
      <div class="tab-content"> 
        <!-- 表单 -->
        <form id="form" action="{:U('add_custom_tag')}" method="post" class="form-horizontal form-center">
          <ul id="tab" class="tab-pane in">
            <li class="form-item cf toggle-pre">
              <label class="item-label">用户组 <!--<a href="">增加新标签</a>--></label>
              <div class="controls">
                <select name="tag_id" >
                  <option value="0">不限</option>
                  <notempty name="tags">
                  <volist name="tags" id="vo">
                  <option value="{$key}">{$vo}</option>
                  </volist>
                  </notempty>
                </select>
              </div>
            </li>
            <li class="form-item cf toggle-pre">
              <label class="item-label">性别 </label>
              <div class="controls">
                <div class="check-item">
                  <input type="radio" class="regular-radio toggle-data" value="0" id="no_sex" name="sex" checked/>
                  <label for="no_sex"></label>
                  不限 </div>
                <div class="check-item">
                  <input type="radio" class="regular-radio toggle-data" value="1" id="man" name="sex"/>
                  <label for="man"></label>
                  男 </div>
                <div class="check-item">
                  <input type="radio" class="regular-radio toggle-data" value="2" id="woman" name="sex"/>
                  <label for="woman"></label>
                  女 </div>
              </div>
            </li>
            <li class="form-item cf toggle-pre">
              <label class="item-label">手机操作系统 </label>
              <div class="controls">
                <div class="check-item">
                  <input type="radio" class="regular-radio toggle-data" value="0" id="no_phone" name="os" checked/>
                  <label for="no_phone"></label>
                  不限 </div>
                <div class="check-item">
                  <input type="radio" class="regular-radio toggle-data" value="1" id="ios" name="os"/>
                  <label for="ios"></label>
                  IOS </div>
                <div class="check-item">
                  <input type="radio" class="regular-radio toggle-data" value="2" id="android" name="os"/>
                  <label for="android"></label>
                  Android </div>
                <div class="check-item">
                  <input type="radio" class="regular-radio toggle-data" value="3" id="other" name="os"/>
                  <label for="other"></label>
                  Others </div>
              </div>
            </li>
            <li class="form-item cf toggle-pre">
              <label class="item-label">地区 </label>
              <div class="controls"> 
                <div data-toggle="distpicker">
                <div id="cascade_area"></div>
                {:hook('cascade', array('name'=>'area','value'=>'','extra'=>'table=area&first_option=不限'))}

                </div>
              </div>
            </li>
            <li class="form-item cf toggle-pre">
              <label class="item-label">语言 </label>
              <div class="controls">
                <select name="lang">
                  <option value="0">不限</option>
                    <notempty name="lang">
                  <volist name="lang" id="vo">
                  <option value="{$key}">{$vo}</option>
                  </volist>
                  </notempty>               
                </select>
              </div>
            </li>
          </ul>
          <div class="form-item form_bh">
            <input type="hidden" name="rule_ie" value="{:I('rule_id', 0)}" />
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</block>
